<div>
	<h1>Gab</h1>
	<p>Helping new arrivals connect with locals</p>
	<a href="/video">►</a>
</div>
<div>
	<a href="/newArrival/intro">I've just arrived</a>
	<a href="/resident/intro">I've lived here a long time</a>
</div>