<h1>Welcome to Gab</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit voluptatibus quasi cumque dignissimos quisquam, eius ad nobis laborum magni quae minima blanditiis ullam commodi id optio accusantium eos vel modi!</p>
<a href="/newArrival/name">Next</a>